/* SCSS HEX */
$purple: #7400b8ff;
$primary: #6930c3ff;
$slate-blue: #5e60ceff;
$tufts-blue: #5390d9ff;
$blue-jeans: #4ea8deff;
$vivid-sky-blue: #48bfe3ff;
$sky-blue-crayola: #56cfe1ff;
$medium-turquoise: #64dfdfff;
$secondary: #72efddff;
$aquamarine: #80ffdbff;
